name: dump
on:
  push:
  pull_request:
    types: [closed, reopened, review_requested, review_request_removed]
  pull_request_review:
    types: [submitted, dismissed]
jobs:
  dump:
    runs-on: ubuntu-latest
    steps:
      - name: Dump github context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run:
          echo -e "$GITHUB_CONTEXT\n"
        shell: bash
