name: dump

on:
  pull_request:
  pull_request_review:
jobs:
  dump:
    runs-on: ubuntu-latest
    steps:
      - name: Dump context
        env:
          GITHUB_CONTEXT: ${{ toJson(github.event) }}
        run:
          echo -e "$GITHUB_CONTEXT\n"
        shell: bash
