name: pull-request-notify
on:
  push:
  pull_request:
    types: [closed, review_requested, review_request_removed]
  pull_request_review:
    types: [submitted]
jobs:
  dump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: masataka/actions@v0.0.4
        env:
          NODE_OPTIONS: --enable-source-maps
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          slackToken: xoxb-1173400515654-3591028285651-UBIR0dmhOPsU5VTvG7vTxl0r
          slackChannel: C03J2Q1DKAL
          slackAccounts: .github/workflows/accounts.json
          pushMessage: Deployment flow complete
