name: pull-request-notify
on:
  push:
  pull_request:
    types: [edited, closed, review_requested, review_request_removed]
  pull_request_review:
    types: [submitted]
jobs:
  dump:
    runs-on: ubuntu-latest
    steps:
      - name: Dump github context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run:
          echo -e "$GITHUB_CONTEXT\n"
        shell: bash
      - uses: masataka/actions@v0.0.6
        env:
          NODE_OPTIONS: --enable-source-maps
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          slackToken: ${{ secrets.SLACK_TOKEN }}
          slackChannel: ${{ secrets.SLACK_CHANNEL }}
          slackAccounts: ${{ secrets.SLACK_ACCOUNTS }}
          emptyBodyWarning: body of this pull request is empty.
          pushMessage: Deployment flow complete
